@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@import 'fonts';

html,
body {
    height: 100%;
    width: 100%;
    font: 14px open_sansregular, Arial, sans-serif;
    color: #727070;
}
html {
    background: url('/img/2048x1152.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// стили - попап мессаг
.popup-msg {
    display: none;
    margin: 10px 0;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.success-msg {
    color: green;
    border-color: green;
//    background: rgba(0,128,0,15);
}
.error-msg {
    color: red;
    border-color: red;
//    background: rgba(0,225,0,15);
}

@import 'tricks';
@import 'grid';
/********** LOGO **********/
.header-logo {
    float: left;
    margin-top: 10px;
}
@import 'social';
@import 'navigation';
@import 'contact-menu';
@import 'section';
@import 'footer';

