doctype html
html
    head(lang="ru-RU")
        meta(charset='UTF-8')
        // Просим IE переключить в последний режим
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // Корректное масштабирование на разных устройствах
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // SEO
        meta(name='discription', content=' ')
        meta(name='keywords', content=' ')
        meta(name='auther', content='Stelios Baglaridis')
        // FAVICON
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        // CSS
        link(rel='stylesheet', href='/bower/normalize-css/normalize.css')
        link(rel='stylesheet', href='css/global.css')
        link(rel='stylesheet', href='css/login.css')
        script(src='js/modernizr-custom.js')
        //if lt IE 9
            <script src='/bower/jquery-placeholder/jquery.placeholder.js'</script>
        title Авторизируйтесь

    body
        // Ваша верстак тут
        .wrapper.login-block
            include temp/_login
        include temp/_footer
    // JS
    script(src='/bower/jquery/dist/jquery.js')
