/********** CONTACT **********/

.contact {
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #c3c2c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
    overflow: hidden;
}
.contact-list {
    margin: 0;
    padding: 0;
    list-style: none;}
.contact-item {
    border-top: 1px solid #d4d3d2;
}
.contact-item:first-child {
    border-top: none;
}
.contact-links {
    display: block;
    height: 37px;
    float: left;
    width: 100%;
    color: #727070;
    font: 14px open_sansregular, Arial, sans-serif;
    text-decoration: none;
    position: relative;
    background-color: #e8e7e6;
    background-image: -webkit-linear-gradient(bottom, #e8e7e6, #faf9f9);
    background-image: -moz-linear-gradient(bottom, #e8e7e6, #faf9f9);
    background-image: -o-linear-gradient(bottom, #e8e7e6, #faf9f9);
    background-image: linear-gradient(bottom, #e8e7e6, #faf9f9);
    -pie-background: linear-gradient(#e8e7e6, #faf9f9);
    behavior: url(/pie/PIE.htc);
}
.contact-links:hover {
    text-decoration: underline;
    position: relative;
    background-color: #e0c591;
    background-image: -webkit-linear-gradient(bottom, #e0c591, #fbf9f9);
    background-image: -moz-linear-gradient(bottom, #e0c591, #fbf9f9);
    background-image: -o-linear-gradient(bottom, #e0c591, #fbf9f9);
    background-image: linear-gradient(bottom, #e0c591, #fbf9f9);
    -pie-background: linear-gradient(#e0c591, #fbf9f9);
    behavior: url(/pie/PIE.htc);
}
.contact-title {
    font-family: open_sanssemibold, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
/*    min-height: 41px;*/
    padding: 10px 27px 10px 27px;
    color: #d0982c;
    position: relative;
    background-color: #dcb15d;
    background-image: -webkit-linear-gradient(bottom, #dcb15d, #f4cc7e);
    background-image: -moz-linear-gradient(bottom, #dcb15d, #f4cc7e);
    background-image: -o-linear-gradient(bottom, #dcb15d, #f4cc7e);
    background-image: linear-gradient(bottom, #dcb15d, #f4cc7e);
    -pie-background: linear-gradient(#dcb15d, #f4cc7e);
    behavior: url(/pie/PIE.htc);
}
/********** SPRITE **********/

.contact-sprite {
    background: url(/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-email-gold {
    width: 17px;
    height: 13px;
    background-position: -112px -55px;
    margin: 12px 0 0 18px;
    float: left;
}
.sprite-telephone {
    width: 17px;
    height: 22px;
    background-position: -35px -130px;
    margin: 8px 0 0 18px;
    float: left;
}
.sprite-skype {
    width: 20px;
    height: 20px;
    background-position: -5px -130px;
    margin: 12px -3px 0 18px;
    float: left;
}
.sprite-arrow {
    width: 10px;
    height: 38px;
    background-position: -115px -5px;
    margin: 0px 0 0 13px;
    float: left;
}
.sprite-contact {
    display: inline-block;
    margin: 10px 0 0 10px;
}