/********** ASIDE NAVIGATION **********/
.navigation {
    margin-bottom: 33px;
}
.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #c3c2c2;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
    overflow: hidden;
}
.navigation-item {
    border-top: 1px solid #c3c2c2;
}
.navigation-item:first-child {
    border-top: none;
}
.navigation-link {
    display: block;
/*    min-height: 55px;*/
    padding: 17px 28px 17px 28px;
    font-family: open_sanssemibold, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #727070;
    text-decoration: none;
    position: relative;
    background-color: #e7e5e4;
    background-image: -webkit-linear-gradient(bottom, #e7e5e4, #faf9f9);
    background-image: -moz-linear-gradient(bottom, #e7e5e4, #faf9f9);
    background-image: -o-linear-gradient(bottom, #e7e5e4, #faf9f9);
    background-image: linear-gradient(bottom, #e7e5e4, #faf9f9);
    -pie-background: linear-gradient(#e7e5e4, #faf9f9);
    behavior: url(/pie/PIE.htc);
}
.navigation-link:hover {
    position: relative;
    background-color: #e8e7e7;
    background-image: -webkit-linear-gradient(bottom, #e8e7e7, #c4c2c2);
    background-image: -moz-linear-gradient(bottom, #e8e7e7, #c4c2c2);
    background-image: -o-linear-gradient(bottom, #e8e7e7, #c4c2c2);
    background-image: linear-gradient(bottom, #e8e7e7, #c4c2c2);
    -pie-background: linear-gradient(#e8e7e7, #c4c2c2);
    behavior: url(/pie/PIE.htc);
}
nav.navigation .corrent-nav {
    position: relative;
    background-color: #7ce6cc;
    background-image: -webkit-linear-gradient(top, #7ce6cc, #42ba9c);
    background-image: -moz-linear-gradient(top, #7ce6cc, #42ba9c);
    background-image: -o-linear-gradient(top, #7ce6cc, #42ba9c);
    background-image: linear-gradient(top, #7ce6cc, #42ba9c);
    -pie-background: linear-gradient(#7ce6cc, #42ba9c);
    behavior: url(/pie/PIE.htc);
}