/********** SOCIAL MENU **********/

.social {
    margin: 25px 5px 0 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    float: right;
}
.social-item {
    display: inline-block;
    margin-left: 12px;
}
.social-link-fb {
    padding-top: 10px;
    padding-left: 14.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: #E7E7E7;
}
.social-link-vk {
    padding-top: 10px;
    padding-left: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: #E7E7E7;
}
.social-link-tw {
    padding-top: 10px;
    padding-left: 7.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: #E7E7E7;
}
.social-link-github {
    padding-top: 10px;
    padding-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: #E7E7E7;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
}
.social-sprite {
    background: url(/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.social-sprite-fb {
    width: 11px;
    height: 22px;
    background-position: -139px -55px;
}
.social-sprite-fb:hover {
    background-position: -5px -87px;
}
.social-sprite-vk {
    width: 16px;
    height: 19px;
    background-position: -5px -162px;
}
.social-sprite-vk:hover {
    background-position: -31px -162px;
}
.social-sprite-tw {
    width: 25px;
    height: 18px;
    background-position: -62px -144px;
}
.social-sprite-tw:hover {
    background-position: -97px -144px;
}
.social-sprite-github {
    width: 30px;
    height: 23px;
    background-position: -52px -87px;
}
.social-sprite-github:hover {
    background-position: -92px -87px;
}