.login-block {
	position: relative;
}
.login-form {
	position: absolute;
	width: 330px;
	border: 1px solid rgb(154, 152, 152);
	height: 280px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #f7f6f6;
	border-radius: 5px;
	padding: 38px 35px;
}
.login-title {
	position: absolute;
	font: 12px open_sanslight, Arial, sans-serif;
	top: -22px;
	left: 20px;
}
.login-form-inner {
	font: 12px open_sanslight, Arial, sans-serif;
	/*background: gray;*/
}
.login-form-username {
	position: relative;
	margin-bottom: 25px;
}
.login-input-username{
	width: 100%;
	height: 40px;
	padding-left: 71px;
	border-radius: 5px;
	border: 1px solid rgb(214, 213, 211);
}
.login-form-username:before {
	content: '';
	display: block;
	position: absolute;
	background: url('/img/spritesheet2.png') no-repeat -5px -53px;
	width: 11px;
	height: 40px;
	left: 45px;
	top: 0;
}
.login-form-username:after {
	content: '';
	display: block;
	position: absolute;
	background: url('/img/spritesheet2.png') no-repeat -100px -53px;
	width: 22px;
	height: 16px;
	left: 16px;
	top: 14px;
}
.login-form-password {
	position: relative;
}
.login-input-password{
	width: 100%;
	height: 40px;
	padding-left: 71px;
	border-radius: 5px;
	border: 1px solid rgb(214, 213, 211);
}
.login-form-password:before {
	content: '';
	display: block;
	position: absolute;
	background: url('/img/spritesheet2.png') no-repeat -5px -53px;
	width: 11px;
	height: 40px;
	left: 45px;
	top: 0;
}
.login-form-password:after {
	content: '';
	display: block;
	position: absolute;
	left: 17px;
	top: 13px;
	background: url('/img/spritesheet2.png') no-repeat -140px -107px;
	width: 21px;
	height: 19px;
}
.login-input-checkbox {
	padding: 19px 0;
}
.login-input-checkbox label {
	padding-left: 10px;
	font: 14px open_sansregular, Arial, sans-serif;
}

.login-submit{
	position: relative;
	width: 160px;
	height: 40px;
	left: 50%;
	transform: translateX(-50%);

	font-family: open_sansbold, Arial, sans-serif;
	font-size: 14px;
	color: #1e7465;
	text-shadow: 0 1px rgba(255,255,255,.75);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fbf9f9;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #43b796, #80e8cb);
	background-image: -moz-linear-gradient(bottom, #43b796, #80e8cb);
	background-image: -o-linear-gradient(bottom, #43b796, #80e8cb);
	background-image: -ms-linear-gradient(bottom, #43b796, #80e8cb);
	background-image: linear-gradient(to top, #43b796, #80e8cb);
}
.login-submit:hover {
	background-color: #fbf9f9;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
	box-shadow: inset 0 1px rgba(255,255,255,.3);
	background-image: -webkit-linear-gradient(bottom, #3aa087, #5fdcbd);
	background-image: -moz-linear-gradient(bottom, #3aa087, #5fdcbd);
	background-image: -o-linear-gradient(bottom, #3aa087, #5fdcbd);
	background-image: -ms-linear-gradient(bottom, #3aa087, #5fdcbd);
	background-image: linear-gradient(to top, #3aa087, #5fdcbd);
}
button:focus {
	outline: none;
}