section.section.top-margin-none
    h3.section-title Основная информация
    .section-content.clearfix
        .about-me-left
            .about-me-pic-container
                img.about-me-pic(src='/img/me.png', alt='my photo')
        .about-me-right
            ul.about-me-list
                li.about-me-item
                    span.about-me-item-a Меня зовут:
                    span.about-me-item-b Baglaridis Stelios
                li.about-me-item
                    span.about-me-item-a Мой возраст:
                    span.about-me-item-b 31 год
                li.about-me-item
                    span.about-me-item-a Мой город:
                    span.about-me-item-b Ираклион, Греция - о.Крит
                li.about-me-item
                    span.about-me-item-a Моя специализация:
                    span.about-me-item-b FRONTEND разрабодчик
                li.about-me-item.clearfix
                    .my-skills Ключевые навыки:
                    ul.tag-list
                        li.tag-item HTML
                        li.tag-item CSS
                        li.tag-item JAVASCRIPT
                        li.tag-item GULP
                        li.tag-item BOWER
                        li.tag-item PHP
section.section
    h3.section-title Опыт работы
    .section-content.clearfix
        .work-experience.clearfix.no-borders
            .work-experience-icon.ico-case
            .work-experience-content
                ul.work-experience-list
                    li.work-experience-item-title Туристическая компания "Ambotis Holidays" - Кординатор
                    li.work-experiance-item-period 2014 - По сей день
        .work-experience.clearfix
            .work-experience-icon.ico-case
            .work-experience-content
                ul.work-experience-list
                    li.work-experience-item-title Туристическая компания "Beleon Tours" - Главный представитель региона
                    li.work-experiance-item-period 2011 - 2013
section.section
    h3.section-title Образование
    .section-content.clearfix
        .education.clearfix.no-borders
            .education-icon.ico-school
            .education-content
                ul.education-list
                    li.education-item-title Школа № 99, Tbilisi
                    li.education-item-period 1990 - 2000
        .education.clearfix
            .education-icon.ico-graguete
            .education-content
                ul.education-list
                    li.education-item-title Школа туризма и гостичечного бизнеса, Греция - о.Крит
                    li.education-item-period 2005 - 2007
        .education.clearfix
            .education-icon.ico-diploma
            .education-content
                ul.education-list
                    li.education-item-title Курсы LoftSchool.ru - Онлайн
                    li.education-item-period Январь 2016 по сей день
