<!-- ПОПАП ФОРМА - НАЧАЛО -->
.bpopup
    form(action="add_project.php" method="post").add-project-form
        .bpopup-title Добавление проекта
        a(href="#").b-close
        .status-msg msg box
        .popup-blocks
            label(for="project-name") Название проекта
            input(type="text" name="project-name" placeholder="Введите название" qtip-position='left' qtip-content='Введите название проекта').input#project-name
        .popup-blocks
            label(for="project-file") Картинка проекта
            label(for="project-file").popup-label-img.clearfix
                span.popup-label-img-txt Загрузите изображение
                span.popup-label-img-ico
                input(type="file" name="project-file" qtip-position='left' qtip-content='Изображение').project-file#project-file


        .popup-blocks
            label(for="project-url") URL проекта
            input(type="text" name="project-url" placeholder="Добавьте ссылку" qtip-position='left' qtip-content='Ссылка на проект').input#project-url
        .popup-blocks
            label(for="project-desc") Описание
            textarea(type="textarea" name="project-desc" placeholder="Пара слов о Вашем проекте" qtip-position='left' qtip-content='Описание проекта').textarea#project-desc
        .popup-blocks.popup-blocks-submit
            button(type="submit" name="project-submit").popup-submit#project-submit Добавить
