section.section.top-margin-none
    h3.section-title У вас интересный проект? Напишите мне
    .section-content
        form(action="/contact.php" method="post").contact-me
            .contact-form
                .status-msg msg box
                .contact-form-top.clearfix
                    .contact-form-name
                        label(for="name") Имя
                        input(type="text" name="name" placeholder="Как к Вам оброщаться" qtip-position='left' qtip-content='Введите имя').input#name
                    .contact-form-email
                        label(for="email") Email
                        input(type="text" name="email" placeholder="Куда мне писать" qtip-position='right' qtip-content='Введите email').input#email
                .contact-form-msg
                    label(for="message") Сообщение
                    textarea(name="message" placeholder="Кратко в чем суть" qtip-position='left' qtip-content='Введите вопрос').textarea#message
                .captcha.clearfix
                    .captcha-img
                        label(for="captch-contact-me")
                            img(src="/img/captcha.png" alt="captch")
                    .captcha-input
                        input(type="text" name="captcha" placeholder="Введите код с картинки" qtip-position='right' qtip-content='код капчи').input#captch-contact-me
                .contact-form-input.clearfix
                    .contact-form-input-send
                        button(type="submit" name="send").button.button-send Отправить
                    .contact-form-input-reset
                        button(type="reset" name="reset").button.button-reset Очистить
