<!-- HEADER -->
header.header
    .header-inner.clearfix
        a(href="/").header-logo
            img(src="/img/logo.png" alt="Логотип сайта портфoлио")
        ul.social
            li.social-item.social-item-fb
                a(href="https://www.facebook.com/baglaridis" target="_blank").social-link.social-link-fb.text-hide test
            li.social-item.social-item-vk
                a(href="http://vk.com/s.baglaridis" target="_blank").social-link.social-link-vk.text-hide vkontakte
            li.social-item.social-item-tw
                a(href="#u_menya_net_tw" target="_blank").social-link.social-link-tw.text-hide twitter
            li.social-item.social-item-github
                a(href="https://github.com/steliosbox" target="_blank").social-link.social-link-github.text-hide github
