section.section.top-margin-none
    h3.section-title Мои работы
    .my-projects.clearfix
        ul.projects-list
            li.projects-item
                a.projects-hover(href='http://ls1.technofreedom.ru/', target='_blank')
                    .projects-img-container
                        img.projects-img(src='/img/pic.png', alt='http://ls1.technofreedom.ru/')
                        .projects-img-txt подробнее
                .projects-txt
                    a.projects-links(href='ls1.technofreedom.ru') a-industry.ru
                .projects-disc Корпоративный и в тоже время продающий сайт строительной компании a-industry.
            li.projects-item
                a.projects-hover(href='http://ls1.technofreedom.ru/', target='_blank')
                    .projects-img-container
                        img.projects-img(src='/img/pic-2.png', alt='http://ls1.technofreedom.ru/')
                        .projects-img-txt подробнее
                .projects-txt
                    a.projects-links(href='ls1.technofreedom.ru') домгазобетон.рф
                .projects-disc Продающая страница для компании ledenland.
            li.projects-item
                a.projects-hover(href='http://ls1.technofreedom.ru/', target='_blank')
                    .projects-img-container
                        img.projects-img(src='/img/pic-3.png', alt='http://ls1.technofreedom.ru/')
                        .projects-img-txt подробнее
                .projects-txt
                    a.projects-links(href='ls1.technofreedom.ru') ls1.technofreedom.ru
                .projects-disc Первое домашнее задание LoftSchool
            li.projects-item
                a.projects-hover(href='http://ls1.technofreedom.ru/', target='_blank')
                    .projects-img-container
                        img.projects-img(src='/img/pic-3.png', alt='http://ls1.technofreedom.ru/')
                        .projects-img-txt подробнее
                .projects-txt
                    a.projects-links(href='ls1.technofreedom.ru') ls1.technofreedom.ru
                .projects-disc Первое домашнее задание LoftSchool
            li.projects-item.add-project
                a(href='#').add-project-link#add-project-link
                    .add-project-container
                        .polaroid
                    .add-project-txt Добавить проект
