/********************************************/
@mixin bg-gradient-t2b($position, $start-colour, $end-colour) {
    background-color: $start-colour;
    background-image: -webkit-linear-gradient($position, $start-colour, $end-colour);
    background-image: -moz-linear-gradient($position, $start-colour, $end-colour);
    background-image: -o-linear-gradient($position, $start-colour, $end-colour);
    background-image: linear-gradient($position, $start-colour, $end-colour);

    position:relative;
  -pie-background: linear-gradient($start-colour, $end-colour);
    behavior: url(/css/pie/PIE.htc);
}

@mixin border-radius($radius){
	position: relative;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
  border-radius:         $radius;
  behavior: url(/css/pie/PIE.htc);
}
/********************************************/

.contact-form {
    width: 404px;
    margin: 0 auto;
    font-family: OpenSans-Regular;
//    background: grey;
}


.contact-form-top {
    margin: 12px 0 14px;
}
.contact-form-name {
    float: left;
    margin-right: 18px;
}
.contact-form-email {
    float: left;
}
.contact-form-top label {
    display: block;
    padding-bottom: 8px;
}   
.contact-form-top input {
    width: 193px;
    font-size: 12px;
    font-family: OpenSans-Light;
    padding: 9px 9px;
    height: 40px;
    @include border-radius(3px);
}



.contact-form-msg label {
    display: block;
    margin-bottom: 7px;
}
.contact-form-msg textarea {
    width: 100%;
    min-height: 185px;
    padding: 10px 10px;
    font-size: 12px;
    font-family: OpenSans-Light;
    @include border-radius(3px);
}



.contact-form-input {
    margin: 140px 0 10px;
}
.contact-form-input input {
    width: 125px;
    height: 40px;
    padding-bottom: 7px;
    @include border-radius(5px);
    @include bg-gradient-t2b(bottom, #e9e6e4, #fbf9f9);
}
.contact-form-input input:hover{
    @include bg-gradient-t2b(bottom, #3aa087, #5fdcbd);
    text-shadow: 0 1px rgba(255,255,255,.75);
}
.contact-form-input-send {
    float: left;
    margin-left: 30px;
}
.contact-form-input-reset {
    float: right;
    margin-right: 30px;
}