/********************************************/
@mixin bg-gradient-t2b($position, $start-colour, $end-colour) {
    background-color: $start-colour;
    background-image: -webkit-linear-gradient($position, $start-colour, $end-colour);
    background-image: -moz-linear-gradient($position, $start-colour, $end-colour);
    background-image: -o-linear-gradient($position, $start-colour, $end-colour);
    background-image: linear-gradient($position, $start-colour, $end-colour);

    position:relative;
  -pie-background: linear-gradient($start-colour, $end-colour);
    behavior: url(/css/pie/PIE.htc);
}

@mixin border-radius($radius){
	position: relative;
    -webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
  border-radius:         $radius;
  behavior: url(/css/pie/PIE.htc);
}
/********************************************/

$box-width: 160px;
$box-border: 1px;


.my-projects {
    border: $box-border solid #e7e7e7;
    @include border-radius(5px);
    width: $box-width;
    font-size: 12px;
    text-align: center;

    img {
        width: $box-width - ($box-border * 2);
        @include border-radius(5px 5px 0 0);
    }
    
    .project-url {
        background: #e7e7e7;
        padding: 3px 10px;
        font-family: OpenSans-Regular;
    }
    
    .project-discription {
        padding: 5px 10px;
        font-family: OpenSans-Light;
    }
    
    a:hover {
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        
        -msie-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  /* IE8 */
        filter: alpha(opacity=50);
    }
}

div {
/* standards-compliant browsers */
opacity:0.7;
 
/* The following is ignored by standards-based browsers */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  /* IE8 */
filter: alpha(opacity=70); /* IE 5-7  */
}


