	.aside-navigation {
		padding: 0;
		margin: 0;
	}
	.aside-navigation-ul {
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0;
		
		position: relative;
        border: 1px solid #c3c2c2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		behavior: url(/css/pie/PIE.htc);
	}
	.aside-navigation-ul li {
		margin: 0;
		padding: 0;
	}
	.aside-navigation-ul li a {
        display: block;
        height: 56px;
		font-size: 20px;
        line-height: 1.1;
        text-decoration: none;
        color: #727070;
		text-decoration: none;
		
		padding: 17px 0 0 28px;
		
		position:relative;
		border-bottom: 1px solid #c3c2c2;
		
		text-shadow: 1px 1px rgba(255,255,255,.75);
		background-image: -webkit-linear-gradient(bottom, #e7e5e4, #faf9f9 94%, #fff);
		background-image: -moz-linear-gradient(bottom, #e7e5e4, #faf9f9 94%, #fff);
		background-image: -o-linear-gradient(bottom, #e7e5e4, #faf9f9 94%, #fff);
		background-image: -ms-linear-gradient(bottom, #e7e5e4, #faf9f9 94%, #fff);
		background-image: linear-gradient(to top, #e7e5e4, #faf9f9 94%, #fff);
		-pie-background: linear-gradient(#e7e5e4, #faf9f9);
		behavior: url(/css/pie/PIE.htc);
	}
	.aside-navigation-ul li a:hover {
		position:relative;
		text-shadow: 1px 1px rgba(255,255,255,.75);
		background: #c4c2c2;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e8e7e7), to(#c4c2c2));
		background: -webkit-linear-gradient(#e8e7e7, #c4c2c2);
		background: -moz-linear-gradient(#e8e7e7, #c4c2c2);
		background: -ms-linear-gradient(#e8e7e7, #c4c2c2);
		background: -o-linear-gradient(#e8e7e7, #c4c2c2);
		background: linear-gradient(#e8e7e7, #c4c2c2);
		-pie-background: linear-gradient(#e8e7e7, #c4c2c2);
		behavior: url(/css/pie/PIE.htc);
    }
	#aside-navigation-active{
		position:relative;
		color: #eeedec;
		text-shadow: 1px 1px #666565;
		background: #42ba9c;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3eb799), to(#42ba9c));
		background: -webkit-linear-gradient(#7ce6cc, #42ba9c);
		background: -moz-linear-gradient(#7ce6cc, #42ba9c);
		background: -ms-linear-gradient(#7ce6cc, #42ba9c);
		background: -o-linear-gradient(#7ce6cc, #42ba9c);
		background: linear-gradient(#7ce6cc, #42ba9c);
		-pie-background: linear-gradient(#7ce6cc, #42ba9c);
		behavior: url(/css/pie/PIE.htc);
	}
	li.aside-navigation-ul-li-first a {
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		behavior: url(/css/pie/PIE.htc);
	}
	li.aside-navigation-ul-li-last a {
		border: none;
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		behavior: url(/css/pie/PIE.htc);
	}