doctype html
- var about = "corrent-nav"
html
    head(lang="ru-RU")
        meta(charset='UTF-8')
        // Просим IE переключить в последний режим
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // Корректное масштабирование на разных устройствах
        meta(name='viewport', content='width=device-width, initial-scale=1')  
        // SEO
        meta(name='discription', content=' ')
        meta(name='keywords', content=' ')
        meta(name='auther', content='Stelios Baglaridis')
        // FAVICON
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        // CSS
        link(rel='stylesheet', href='/bower/normalize-css/normalize.css')
        link(rel='stylesheet', href='css/global.css')
        link(rel='stylesheet', href='css/about-me.css')
        //if lt IE 9
          <script src='bower/html5shiv/dist/html5shiv.js'></script>
          <script src='app/bower/jquery-placeholder/jquery.placeholder.js'</script>
        title Моё портфолио

    body
        // Ваша верстак тут
        .wrapper
            include temp/_header
            .container
                .container-inner.clearfix
                    aside.side-bar
                        include temp/_navigation
                        include temp/_contacts
                    .content
                        include temp/_about-me
        include temp/_footer
    // JS
    script(src='/bower/jquery/dist/jquery.js')