/* line 1, C:/portfolio/app/css/all-spritesheet.scss */
.sprite {
  background: url(img/spritesheet);
  background-repeat: no-repeat;
  display: block; }

/* line 7, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-Nugget-Cancel {
  width: 45px;
  height: 33px;
  background-position: -5px -5px; }

/* line 13, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-Nugget-Cancel3 {
  width: 45px;
  height: 32px;
  background-position: -60px -5px; }

/* line 19, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-arrow {
  width: 10px;
  height: 38px;
  background-position: -115px -5px; }

/* line 25, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-arrow-geray {
  width: 11px;
  height: 40px;
  background-position: -135px -5px; }

/* line 31, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-case-2 {
  width: 22px;
  height: 20px;
  background-position: -5px -55px; }

/* line 37, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-close-green {
  width: 11px;
  height: 11px;
  background-position: -37px -55px; }

/* line 43, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-close-red {
  width: 11px;
  height: 11px;
  background-position: -58px -55px; }

/* line 49, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-email {
  width: 23px;
  height: 17px;
  background-position: -79px -55px; }

/* line 55, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-email-gold {
  width: 17px;
  height: 13px;
  background-position: -112px -55px; }

/* line 61, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-fb {
  width: 11px;
  height: 22px;
  background-position: -139px -55px; }

/* line 67, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-fb-hover {
  width: 11px;
  height: 22px;
  background-position: -5px -87px; }

/* line 73, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-file {
  width: 16px;
  height: 21px;
  background-position: -26px -87px; }

/* line 79, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-github {
  width: 30px;
  height: 23px;
  background-position: -52px -87px; }

/* line 85, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-github-hover {
  width: 30px;
  height: 23px;
  background-position: -92px -87px; }

/* line 91, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-graduate {
  width: 28px;
  height: 19px;
  background-position: -132px -87px; }

/* line 97, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-iCloud-down {
  width: 26px;
  height: 18px;
  background-position: -132px -116px; }

/* line 103, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-key {
  width: 22px;
  height: 20px;
  background-position: -156px -5px; }

/* line 109, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-locked {
  width: 19px;
  height: 22px;
  background-position: -160px -35px; }

/* line 115, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-polaroid {
  width: 21px;
  height: 21px;
  background-position: -170px -67px; }

/* line 121, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-school {
  width: 22px;
  height: 22px;
  background-position: -170px -98px; }

/* line 127, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-skype {
  width: 20px;
  height: 20px;
  background-position: -5px -130px; }

/* line 133, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-telephone {
  width: 17px;
  height: 22px;
  background-position: -35px -130px; }

/* line 139, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-tw {
  width: 25px;
  height: 18px;
  background-position: -62px -144px; }

/* line 145, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-tw-hover {
  width: 25px;
  height: 18px;
  background-position: -97px -144px; }

/* line 151, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-unlocked {
  width: 24px;
  height: 22px;
  background-position: -168px -130px; }

/* line 157, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-vk {
  width: 16px;
  height: 19px;
  background-position: -5px -162px; }

/* line 163, C:/portfolio/app/css/all-spritesheet.scss */
.sprite-vk-hover {
  width: 16px;
  height: 19px;
  background-position: -31px -162px; }

/*# sourceMappingURL=all-spritesheet.css.map */