section.section.top-margin-none
    h3.section-title У вас интересный проект? Напишите мне
    .section-content
        form(action="/contact.php" method="post")#contact-me
            .contact-form#contact-form
                .contact-form-top.clearfix
                    .contact-form-name
                        label(for="name") Имя
                        input(type="text" name="name" placeholder="Как к Вам оброщаться" qtip-position='left' qtip-content='Введите имя')#name
                    .contact-form-email
                        label(for="email") Email
                        input(type="text" name="email" placeholder="Куда мне писать" qtip-position='right' qtip-content='Введите email')#email
                .contact-form-msg
                    label(for="message") Сообщение
                    textarea(name="textarea" placeholder="Кратко в чем суть" qtip-position='left' qtip-content='Введите вопрос')#message
                .captcha.clearfix
                    .captcha-img
                        label(for="captch-contact-me")
                            img(src="/img/captcha.png" alt="captch")
                    .captcha-input
                        input(type="text" name="captcha" placeholder="Введите код с картинки" qtip-position='right' qtip-content='код капчи')#captch-contact-me
                .contact-form-input.clearfix
                    .contact-form-input-send
                        button(type="submit" name="send")#contact-submit Отправить
                    .contact-form-input-reset
                        button(type="reset" name="reset") Очистить
