.contact
    .contact-title Контакты
    ul.contact-list
        li.contact-item: a.contact-links(href='mailto:s.baglaridis@gmail.com')
                i.contact-sprite.sprite-email-gold
                i.contact-sprite.sprite-arrow
                span.sprite-contact s.baglaridis@gmail.com
        li.contact-item: a.contact-links(href='tel:+306984102514')
                i.contact-sprite.sprite-telephone
                i.contact-sprite.sprite-arrow
                span.sprite-contact +30 6984102514
        li.contact-item: a.contact-links(href='skype:amb.crete?chat')
                i.contact-sprite.sprite-skype
                i.contact-sprite.sprite-arrow
                span.sprite-contact amb.crete