nav.navigation
    ul.navigation-list
        li.navigation-item: a(href="index.html" class="navigation-link #{about}") Обо мне
        li.navigation-item: a(href="my-projects.html" class="navigation-link #{projects}") Мои Работы
        li.navigation-item: a(href="contact-me.html" class="navigation-link #{contact}") Обратная связь